* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
h1 {
  font-family: 'Seymour One', sans-serif;
}
.myInput {
  margin: 0px 10px 0px 10px;
  width: 200px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
#lista-container {
  background-color: #F3E487;
  padding: 20px;
}
#lista-container li {
  display: flex;
  list-style-type: none;
  margin: 5px;
}
.delete, .edit, .save {
  cursor: pointer;
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}
.editText {
  border: none;
  border-bottom: 1px solid grey;
}
.editText, .save {
  display: none;
}
.editText.active {
  display: inline-block;
}
.edit.hidden {
  display: none;
}
.save.active {
  display: inline-block;
}
.elemento.hidden {
  display: none;
}
