* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('https://www.lignumvenetia.com/img/nodi-e-aspetto-del-legno-xs.jpg');
}
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.punes {
  color: red;
  padding: 5px;
}
h1 {
  font-family: 'Seymour One', sans-serif;
}
.myInput {
  margin: 0px 10px 0px 10px;
  width: 250px;
  padding: 5px;
}
.add {
  padding: 5px 10px;
  border-radius: 5px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}
#lista-container {
  background-color: #F3E487;
  padding: 20px;
}
#lista-container li {
  display: flex;
  list-style-type: none;
  margin: 5px;
}
.delete, .edit, .save {
  cursor: pointer;
  font-size: 25px;
  margin: 0px 10px 0px 10px;
}
.editText {
  border: none;
  background-color: #F3E487;
  border-bottom: 1px solid grey;
}
.editText, .save {
  display: none;
}
.editText.active {
  display: inline-block;
}
.edit.hidden {
  display: none;
}
.save.active {
  display: inline-block;
}
.elemento.hidden {
  display: none;
}
